/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */



/* UTILITIES */
.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.spacebtw{
    justify-content: space-between;
}

.border{
    border: 1px solid black;
}

/* GENERAL */
img{
    width: 100%;
}


/* IDs */
#navbar{
    display: flex;
    height: 3rem;
    background-color: dodgerblue;
    justify-content: space-between;
}

/* CLASSES */
.logo{
    width: 20%;

    /* debug */
    height: 100%;
    
    background-color: beige;
}

.hamburger-menu{
    width: 10%;

    /* debug */
    height: 100%;

    background-color: cadetblue;
}


.col-big{
    width: calc((calc(100% / 3 * 2) - 10px));

    /* debug */
    height: 150px;
}

.col-small{
    width: calc(100% / 3 - 20px);

    /* debug */
    height: 150px;
}

.largebox{
    width: 100%;
    background-color: lightblue;
    border-radius: 1rem;
    
    /* debug */
    height: 100%;
}

.smallbox{
    width: 100%;
    background-color: lightcoral;
    border-radius: 1rem;
    
    /* debug */
    height: 100%;
}

/* MEDIA QUERIES */

@media all and (max-width: 768px){
    .row-first{
        flex-direction: column;
        align-items: center;
    }

    .row-second{
        flex-direction: column;
        align-items: center;
    }

    .col-small{
        width: 100%;
    }

    .col-big{
        width: 100%;

        /* debug */
        height: 300px;
    }
}

@media all and (min-width: 992px){
    .container{
        width: 60%;
        max-width: 60%;
    }
}

@media all and (max-width: 1200px){
    
}