/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */



/* UTILITIES */
.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.spacebtw{
    justify-content: space-between;
}

.border{
    border: 1px solid black;
}

.violet-clr{
    background-color: rebeccapurple;
}

.buttons{
    text-decoration: none;
    color: white;
    background-color: rebeccapurple;
    padding: 5px;
    border-radius: 15px;
}

/* GENERAL */
img{
    width: 100%;
}


/* IDs */
#navbar{
    display: flex;
    height: 3rem;
    background-color: dodgerblue;
    justify-content: space-between;
}

/* CLASSES */
.logo{
    width: 20%;

    /* debug */
    height: 100%;
    
    background-color: beige;
}

.hamburger-menu{
    width: 10%;

    /* debug */
    height: 100%;

    background-color: cadetblue;
}


.col-big{
    width: calc((calc(100% / 3 * 2) - 10px));

    /* debug */
    height: 150px;
}

.col-small{
    width: calc(100% / 3 - 20px);

    /* debug */
    height: 150px;
}

.largebox{
    width: 100%;
    background-color: lightblue;
    border-radius: 1rem;
    
    /* debug */
    height: 100%;
}

.smallbox{
    width: 100%;
    background-color: lightcoral;
    border-radius: 1rem;
    
    /* debug */
    height: 100%;
}

.col-left{
    width: calc(100% / 2 - 5px);
    flex-direction: column;
    align-items: center;
    
    /* debug */
    /* height: 100px; */
    background-color: lightpink;
}

.second-sect-img-left{
    width: 100%;

    /* debug */
    height: 100px;
    background-color: violet;
}

.second-sect-text-left{
    width: 100%;
}

.col-right{
    width: calc(100% / 2 - 5px);
    align-items: flex-end;

    /* debug */
    /* height: 100px; */
    background-color: lightslategrey;
}

.col-right-content{
    width: 100%;

    /* debug */
    background-color: white;
}

.second-sect-img-right{
    

    /* debug */
    height: 100px;
    background-color: lawngreen;
}

.partners-sect{
    text-align: center;
}

.testimonials{
    background-color: rebeccapurple;
}

.testimonial-img{
    width: 100px;
    border-radius: 100%;

    /* debug */
    height: 100px;
    background-color: white;
}

.test-text{
    width: 70%;
}

.benefits-sect{
    text-align: center;
}

.cards-container{
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards{
    width: calc(100% / 3 - 10px);
    background-color: white;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
}

.aboutus-left-col{
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.aboutus-rigth-col{
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* debug */
    width: 100px;
    height: 100px;
    background-color: blue;
}

/* MEDIA QUERIES */

@media all and (max-width: 320px){

    .cards{
        width: 100%;
    }

    .aboutus-sect{
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 768px){
    .row-first{
        flex-direction: column;
        align-items: center;
    }

    .row-second{
        flex-direction: column;
        align-items: center;
    }

    .col-small{
        width: 100%;
    }

    .col-big{
        width: 100%;

        /* debug */
        height: 300px;
    }

    .cards{
        width: calc(100% / 2 - 10px);
    }
}

@media all and (min-width: 992px){
    .container{
        width: 60%;
        max-width: 60%;
    }

    .cards{
        width: calc(100% / 3 - 10px);
    }
}

@media all and (max-width: 992px){
    .planning-container{
        flex-direction: column;
    }

    .col-left{
        width: 100%;
    }

    .col-right{
        width: 100%;
    }
}

@media all and (max-width: 1200px){
    
}